{% extends "_base.html" %}

{% block content %}
<div class="starter-template">
  <div class='content'>
    <div class='column'>
      <h3>Добавить задачу</h3>

      <div id='error' class='alert alert-danger alert-dismissible fade show'>Error!</div>

      <section>
        <h4>Stream <a href='http://www.freeintertv.com/view/id-1099'>CGTN</a></h4>
        <form method="post" action='/download/stream' onsubmit="return handleSubmit(this)">
          <div class="form-group">
            <label for="recording_duration">Продолжительность записи</label>
            <input type="text" class="form-control" id="recording_duration" name="recording_duration" placeholder="60.0">
          </div>
          <div class="form-group">
            <label for="recording_duration">Длина фрагмента</label>
            <input type="text" class="form-control" id="max_fragment_duration" name="max_fragment_duration" placeholder="20.0">
          </div>
          <div class="form-group">
            <label for="playlist_url">ссылка на стрим</label>
            <input type="text" class="form-control" id="playlist_url" name="playlist_url" placeholder="ссылка на стрим плейлиста в формате m3u8">
            <p>оставте поле пустым будет использован <a href='https://live-wuxi.cgtn.com/live/wx_cgtn_1000k_internalnormal.m3u8'>адрес CGTN</a>
              либо укажите свою ссылку в формате m3u8 
            </p>  
          </div>
          <button type="submit" class="btn btn-primary">Начать запись стрима</button>
        </form>
      </section> 

      <section class="YouTube">
        <h4>YouTube</h4>
        <form method="post" action='/download/YouTube' onsubmit="return handleSubmit(this)">
          <div class="form-group">
            <input type="text" class="form-control" id="YouTube-url" name="url" placeholder="YouTube-url">
          </div>
          <button type="submit" class="btn btn-primary">Скачать видео с ютуба</button>
        </form>
      </section>

      <section class="file">
        <h4>file url</h4>
        <form method="post" action='/download/file' onsubmit="return handleSubmit(this)">
          <div class="form-group">
            <input type="text" class="form-control" id="file-url" name="url" placeholder="file url">
          </div>
          <button type="submit" class="btn btn-primary">Скачать файл по ссылке</button>
        </form>
      </section>

    </div>
    <div class='column'>
      <h3>Состояние задач</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Sync</th>
            <th>ID</th>
            <th>Status</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="tasks">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
